<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="display-4 text-center mt-4 ">500 ERROR INESPERADO</h1>
            <hr class="hr-divider">
            <h2 class="display-4 text-center mt-4">CONTACTE CON EL ADMINISTRADOR</h2>