<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="display-4 text-center mt-4 ">ERROR</h1>
            <hr class="hr-divider">
            {{#if error}}
            <div class="alert alert-danger">
                <strong>{{error.message}}</strong>
                <p>Status: {{error.code}}</p>
            </div>
            {{/if}}
            <hr>
            <h2 class="display-4 text-center mt-4">REVISE LOS DATOS INGRESADOS</h2>