<div class="container text-center mb-2 pb-2">
  <h2>Dirigirse a:</h2>
  <a href="/" class="btn btn-secondary mr-2"s>Home</a>
  <a href="/login" class="btn btn-secondary mr-2">Login</a>
  <a href="/registro" class="btn btn-secondary mr-2">Registro</a>
  <a href="/current" class="btn btn-secondary">Perfil</a>
  <a href="api/sessions/logout" class="btn btn-secondary">Logout</a>
</div>
