<div class="container text-center">
  <h2>Dirigirse a:</h2>
  <a href="http://localhost:8080/products" class="btn btn-secondary mr-2">Products</a>
  <a href="http://localhost:8080/api/chat" class="btn btn-secondary mr-2">Chat</a>
  <a href="http://localhost:8080/carts" class="btn btn-secondary">Carts</a>
  <a href="http://localhost:8080/api/sessions/logout" class="btn btn-secondary">Logout</a>
</div>